/* =================================
  Base Element Styles
==================================== */
/* wrappers - red
   elements - blue
   */
* {
  box-sizing: border-box;
}

body {
  border: 1px solid red;
  font-family: 'Merriweather', serif;
  margin: 0 auto;
  max-width: 768px;
  padding: 0;

}

header {
  /* border: 2px solid red; */
  background-color: #2b3a4a;
  color: white;
  height: 70px;
  padding: 20px 10px 10px;
  text-align: center;
}

h1 {
  /* border: 1px solid blue; */
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  /* border: 1px solid blue; */
  font-weight: bold;
}

/* p{
  border: 1px solid blue;
} */

legend {
  border: 1px solid blue;
  font-weight: bold;
}

label {
  border: 1px solid blue;
}

input {
  border: 1px solid blue;
  background-color: #dcdfe3;
  /* border: 1px solid #dcdfe3 */

}

form {
  border: 2px solid red;
}

fieldset {
  border: 2px solid red;
}

label, p {
  color: gray;
}

/* =================================
  Base Layout Styles
==================================== */
.cta {
  border-bottom: 3px solid black;
  line-height: 1em;
  margin: 35px 20px;
  padding-bottom: 35px; 
  text-align: center;
}

.contact-info {
  border: 2px solid red;
}
  /* padding: 50px 50px 35px 50px; */
}

.contact-info label {
  margin-bottom: 10px;
}

.contact-info input {
  border-radius: 5px;
  margin-bottom: 15px;
  height: 50px;

}

/* ---- Layout Containers ---- */

.wrapper {
  width: 95%;
  margin: 0 auto;
}

.contact-info .flex-pair{
  display: flex;
  flex-direction: column;

}

.flex-pair {
  border: 2px solid orange;
}
}
/* =================================
  Media Queries
==================================== */
