/* =================================
  Base Element Styles
==================================== */
* {
  box-sizing: border-box;
  font-family: 'Merriweather', serif;
  padding: 0;
}

body {
  margin: 0 auto;
  padding: 0;
}

header {
  background-color: #2b3a4a;
  color: white;
  height: 70px;
  padding: 20px 10px 10px;
  text-align: center;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  text-transform: uppercase;
}

h2 {
  font-weight: bold;
}

form {
  border-top: 2px solid black;
  margin: 0 20px;
  padding: 20px 0 0;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}
legend {
  font-size: 1.25em;
  font-weight: bold;
  margin: 20px 0;
  text-align: left;
}

label {
  margin-bottom: 10px;
}

input, select {
  background-color: #f2f2f2;
  border: none;
}

input[placeholder] {
  font-style: italic;
  padding-right: 20px;
  text-align: right;
}

label, p {
  color: gray;
}

input:focus,
textarea:focus,
select:focus {
  background-color: white;
}

textarea {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  margin: 20px 0 30px;
  width: 100%;
}

button {
  background-color: #0ecfbe;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 1.5em;
  height: 60px;
  width: 100%;
}
footer {
  margin: 10px 0 200px;
  font-style: italic;
  text-align: center;
}
/* =================================
  Base Layout Styles
==================================== */
.cta {
  border-bottom: 3px solid black;
  line-height: 1em;
  margin: 35px 20px 5px;
  padding-bottom: 35px;
  text-align: center;
}

.contact-info {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.contact-info label {
  margin-bottom: 10px;
}

.contact-info input, select {
  border-radius: 5px;
  margin-bottom: 15px;
  height: 50px;
}

#zip {
  width: 50%;
}

.newsletter legend {
  margin-bottom: 10px;
}

.newsletter_option {
  margin: 10px 0;
}

.newsletter_topics {
  margin-top: 30px;
}

/* ---- Layout Containers ---- */

.wrapper {
  margin: 0 auto;
  max-width: 768px;
  margin: 0 auto;
}

.flex-pair{
  display: flex;
  flex-direction: column;
}

/* =================================
  Media Queries
=================================== */

@media (min-width: 768px) {
  .flex-pair {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }

  .contact-info input, select {
    width: 77%;
  }

  .flex-pair:last-child {
    justify-content: flex-start;
  }

  #zip{
    margin-left: 100px;
    width: 25%;
  }
}
